<div class="container" id="unique-user">
  <p>Name: <%= @user.username %></p>

  <% @user_reservations.each do |reservation| %>
  <li><%= reservation.name %>, <%= reservation.start_time %> - <%= reservation.end_time %>,</li>
  <% end %>
</div>
