@import "bootstrap-sprockets";
@import "bootstrap";

.nav {
  font-family: 'Gudea', sans-serif;
  color: #121212 !important;
  text-decoration: none !important;
  list-style-type: none;
}

.home-logo {
  font-family: 'Poiret One', cursive;
}

.logo {
  padding-top: 30px;
  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 430px;
}

.home-logo {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 50%;
  width: 430px;
}

.footer {
  // position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: gray;
  text-align: center;
  font-size: 10px;
  font-family: 'Gudea', sans-serif;
}

#home {
  padding-top: 60px;
  padding-bottom: 80px;
}

#homepage-nav {
  padding-left: 50px;
  padding-top: 150px;
}
